$str-split-test: (
  // 'none': (
  //   test: str-split('1234'),
  //   return: 1 2 3 4
  // ),
  'separator': (
    test: str-split('1-2-3-4', '-'),
    return: 1 2 3 4
  ),
  'long': (
    test: str-split('1---2---3---4', '---'),
    return: 1 2 3 4
  ),
  'comma': (
    test: str-split('1, 2, 3, 4', ','),
    return: 1 2 3 4
  )
);

@debug cart($str-split-test);
