$str-trim-left-test: (
  'str-trim-left': (
    test: str-trim-left('....hello', '.'),
    return: hello
  ),
  'str-trim-left empty': (
    test: str-trim-left('....', '.'),
    return: ''
  )
);

@debug cart($str-trim-left-test);
