@function str-trim-right($string, $value) {
  $count: 0;

  @for $i from str-length($string) through 1 {
    $character: str-slice($string, $i, $i);

    @if $character == $value {
      $count: $count + 1;
    }
    @else {
      @return str-slice($string, 1, str-length($string) - $count); // use @break instead of an early @return in Sass 4.0
    }
  }

  @return str-slice($string, 1, str-length($string) - $count);
}
