@function str-split($string, $separator) {
  $result: ();
  $index: str-index($string, $separator);

  @if $index {
    $result: str-slice($string, 1, $index - 1);
    $after: str-slice($string, $index + str-length($separator));

    @if str-index($after, $separator) {
      $result: join($result, str-split($after, $separator));
    }
    @else {
      $result: join($result, $after);
    }
  }
  @else {
    $result: $string;
  }

  @return $result;
}
