@function flatten($list) {
  $result: ();

  @each $item in $list {
    @if type-list($item) or type-map($item) {
      $result: join($result, flatten($item));
    }
    @else {
      $result: join($result, $item);
    }
  }

  @return $result;
}
