@function merge($list, $delimiter: '') {
  @if type-of($delimiter) != 'string' {
    @error 'Fizz: merge: `$delimiter` must be a string.';
  }

  $result: null;

  @each $item in $list {
    @if $item {
      @if $result {
        $result: $result + $delimiter + $item;
      }
      @else {
        $result: $item;
      }
    }
  }

  @return $result;
}
