@function merge($list, $separator: '') {
  $result: null;

  @each $item in $list {
    @if $item {
      @if $result {
        $result: $result + $separator + $item;
      }
      @else {
        $result: $item;
      }
    }
  }

  @return $result;
}
