$test-has-only: (
  'has only 1': (
    test: has-only(1 2 3 4, 1),
    return: false
  ),
  'has only 2': (
    test: has-only(1 1 1 1, 1),
    return: true
  ),
  'has only 3': (
    test: has-only(1, 1 2 3 4),
    return: true
  ),
  'has only 4': (
    test: has-only(1 2 3 4, 1 2 3),
    return: false
  ),
  'has only 5': (
    test: has-only(1 2 3 4, 1 2 3 4),
    return: true
  ),
  'has only 6': (
    test: has-only(1 2 3 4, 1 2 3 5),
    return: false
  ),
  'has only 7': (
    test: has-only(1 2 3 4, 5 6 7 8),
    return: false
  )
);

@debug cart($test-has-only);
